In [1]:
import numpy as np
import pandas as pd

##### I will try to store the content of the csv files in a HDFStore

In [2]:
searchesStore = pd.HDFStore('searchesNew.h5')
bookingsStore = pd.HDFStore('bookings.h5')

In [11]:
# this doesn't work: error on appending data (string1330->datetime64)
#for chunk in pd.read_csv('../Files/searches.csv', delimiter='^', chunksize=500000, usecols=['Date','TxnCode','OfficeID','Country','Origin','Destination','RoundTrip'], dtype={'TxnCode': np.str, 'OfficeID': np.str,'Country': np.str, 'Origin': np.str,'Destination': np.str, 'RoundTrip': np.float64}):
#    chunk['Date'] = pd.to_datetime(chunk['Date'])
#    searchesStore.append('searches',chunk,min_itemsize={'Date':20,'TxnCode':3,'OfficeID':32,'Country':2,'Origin':3,'Destination':3,'RoundTrip':1})

ValueError: invalid combinate of [values_axes] on appending data [name->Date,cname->Date,dtype->string1336,shape->(1, 500000)] vs current table [name->Date,cname->Date,dtype->datetime64,shape->None]

In [12]:
for chunk in pd.read_csv('../Files/searches.csv', delimiter='^', chunksize=500000, usecols=['Date','TxnCode','OfficeID','Country','Origin','Destination','RoundTrip'], dtype={'Date':np.str, 'TxnCode': np.str, 'OfficeID': np.str,'Country': np.str, 'Origin': np.str,'Destination': np.str, 'RoundTrip': np.float64}):
    searchesStore.append('searches',chunk,min_itemsize={'Date':167,'TxnCode':3,'OfficeID':32,'Country':2,'Origin':3,'Destination':3,'RoundTrip':1})

In [2]:
for chunk in pd.read_csv('../Files/bookingsClean.csv', delimiter='^', chunksize=500000, usecols=['act_date','dep_port','dep_city','arr_port','arr_city','pax'], parse_dates=['act_date'], dtype={'dep_port': object, 'dep_city': object, 'arr_city': object, 'arr_port': object, 'pax':np.float64}):
    bookingsStore.append('bookings',chunk,min_itemsize={'act_date':20,'dep_port':3,'dep_city':15,'arr_port':3,'arr_city':15,'pax':3})

CPU times: user 80.1 ms, sys: 27.6 ms, total: 108 ms
Wall time: 712 ms

In [ ]:
# this loads the entire dataframe into the memory and the computer crashes
#searchesStore.searches.head(5)

In [4]:
# this loads the entire dataframe into the memory and the computer crashes
#searchesStore.searches.dtypes

Date_Time      datetime64[ns]
TxnCode                object
OfficeID               object
Country                object
Origin                 object
Destination            object
RoundTrip             float64
dtype: object

In [3]:
searchesStore

<class 'pandas.io.pytables.HDFStore'>
File path: searchesNew.h5
/searches            frame_table  (typ->appendable,nrows->20390198,ncols->7,indexers->[index],dc->[Origin,RoundTrip,Country,Destination,TxnCode,OfficeID,Date])

In [7]:
bookingsStore

<class 'pandas.io.pytables.HDFStore'>
File path: bookings.h5
/bookings            frame_table  (typ->appendable,nrows->10000010,ncols->6,indexers->[index],dc->[arr_city,dep_city,pax,arr_port,act_date,dep_port])

In [8]:
searchesStore.select('searches', start=0, stop=10)

,Date,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip
0,2013-01-01,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1
1,2013-01-01,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0
2,2013-01-01,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1
3,2013-01-01,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0
4,2013-01-01,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1
5,2013-01-01,MPT,3561a60621de06ab1badc8ca55699ef3,US,IAH,BLR,1
6,2013-01-01,MPT,d327ca6e35cc6732d4709828327ac7c1,DK,CPH,PAR,1
7,2013-01-01,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,PAR,DUB,1
8,2013-01-01,MPT,c8daef4f8bf73a61aa2c928705f7b82d,ES,DUS,ACE,1
9,2013-01-01,MPT,28d7a8c95e4db88589d3d35b66920e78,DE,FRA,BGW,1

In [9]:
bookingsStore.select('bookings',start=0,stop=10)

    act_date dep_port dep_city arr_port arr_city  pax
0 2013-03-05      ZRH      ZRH      LHR      LON   -1
1 2013-03-26      SAL      SAL      CLT      CLT    1
2 2013-03-26      SAL      SAL      CLT      CLT    1
3 2013-03-26      AKL      AKL      SVO      MOW    1
4 2013-03-26      AKL      AKL      SVO      MOW    1
5 2013-03-20      DEN      DEN      LGA      NYC    1
6 2013-03-20      DEN      DEN      LGA      NYC    1
7 2013-03-25      NRT      TYO      SIN      SIN    2
8 2013-03-25      NRT      TYO      SIN      SIN    2
9 2013-03-25      NRT      TYO      SIN      SIN    2

[10 rows x 6 columns]